<!DOCTYPE html>
<html>
    <head>
        {% if task %}
        <h1>Edit Task</h1>
        {% else %}
        <h1>Create Task</h1>
        {% endif %}
    </head>

    <body>

        {% if task %}
        <h1>Edit Task</h1>
        {% else %}
        <h1>Create Task</h1>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">
                {% if task %}
                Update Task
                {% else %}
                Create Task
                {% endif %}
            </button>
        </form>

    </body>
</html>