{% extends "base.html" %}

{% block title %}
My Tasks
{% endblock %}

{% block content %}

<h1>My Tasks</h1>
<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="search tasks...">

    <button type="submit">
        search
    </button>
    <select name="status">

        <option value>
            all
        </option>

        <option value="completed">
            completed
        </option>

        <option value="pending">
            pending
        </option>

    </select>
</form>
<a href="{% url 'task_create' %}">
    Add Task
</a>

{% if tasks %}

{% for task in tasks %}

<div>

    <h3>
        <a href="{% url 'task_detail' pk=task.pk %}">
            {{ task.title }}
        </a>
    </h3>

    <p>
        {{ task.description }}
    </p>

    <a href="{% url 'task_update' pk=task.pk %}">
        Edit
    </a>

    <a href="{% url 'task_delete' pk=task.pk %}">
        Delete
    </a>

</div>

{% endfor %}

{% else %}

<p>No tasks available.</p>

{% endif %}

{% endblock %}