{% extends "base.html" %}

{% block title %}

{{ task.title }}

{% endblock %}

{% block content %}

<h1>
    {{ task.title }}
</h1>

<p>
    {{ task.description }}
</p>

<p>
    Status: {{ task.status }}
</p>

{% if task.attachment %}
<p>
    attachment:
    {% if task.attachment %}

    <a href="{% url 'task_download' task.pk %}">
        download attachment
    </a>
    <a href="{{task.attachment.url}}" target="_blank">
        open file
    </a>
    {% endif %}
    {% if task.image %}

    <img
        src="{{ task.image.url }}"
        alt="{{ task.title }}"
        width="300">

    {% endif %}

</p>
{%endif%}

<a href="{% url 'task_update' pk=task.pk %}">
    Edit
</a>

<a href="{% url 'task_delete' pk=task.pk %}">
    Delete
</a>

<a href="{% url 'task_list' %}">
    Back
</a>

{% endblock %}